body {
  background: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 1080px;
  margin: 150px auto 0 auto;
}

.grid-box {
  width: 100%;
  background: hsl(244, 38%, 16%);
  float: right;
  border-radius: 5px 0 0 5px;
}

.grid-interno {
  width: 34%;
  padding-left: 60px;
}

.img-card {
  background: url(/images/image-header-desktop.jpg);
  width: 50%;
  height: 368px;
  float: right;
  display: flex;
  border-radius: 0 5px 5px 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #ac10e6;
  opacity: 0.4;
}

/* .grid-box img {
  width: 100%;
  background-size: cover;
} */

.paragraph {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.paragraph span {
  color: hsl(277, 64%, 61%);
}

.text {
  line-height: 25px;
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.75);
}

.text2 {
  color: hsla(0, 0%, 100%, 0.6);
}

ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0px;
  margin: 50px 0;
}

li {
  float: left;
}

.padding_right {
  padding-right: 80px;
}

div .number_data {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.attribution {
  clear: both;
  padding-top: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 529px) {
  .container {
    width: 350px;
    margin: 20px auto;
  }

  .img-card {
    background: url(/images/image-header-mobile.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    float: none;
    border-radius: 5px 5px 0 0;
    background-size: 350px;
  }

  .grid-box {
    width: auto;
    float: none;
    border-radius: 5px;
  }

  .grid-interno {
    width: 79%;
    margin: 0 auto;
    padding-right: 0px;
    text-align: center;
    padding-left: 0px;
  }

  ul {
    margin: 0px;
  }

  .padding_right {
    padding-right: 0px;
  }

  li {
    float: none;
    padding: 20px 0;
  }
}
